.button {
  text-decoration: none;

  @include font-styles(18px, bold, 20px);
  color: $button-text-color;
  border: $button-border;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  outline: none;

  &:hover,
  &:focus {
    background-color: $button-text-color;
    color: $base-color;
  }

  &:active {
    background-color: $button-text-color;
    color: $base-transparent-color;
  }

  @media (min-width: $tablet-width) {
    @include font-styles(17px, bold, 20px);
  }
}

.button--modal {
  @include font-styles(17px, bold, 16px);

  border: none;
  background-color: $button-modal-color;
  color: $base-color;

  &:hover,
  &:focus {
    background-color: $button-modal-hover-color;
  }

  &:active {
    background-color: $button-modal-active-color;
  }
}
