.catalog {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 111px;
  }
}

.catalog__list {
  @include list-style-none();

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog__item {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "description"
    "order";
  grid-template-rows: 195px min-content min-content min-content;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-bottom: $catalog-border;
  border-left: $catalog-border;
  border-right: $catalog-border;

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    grid-template-areas:
      "image title"
      "image description"
      "image order";
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: min-content 1fr;
    align-items: start;
    margin-top: 0;
    border-top: $catalog-border;

    &:not(:first-child) {
      margin-top: 53px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    grid-template-areas:
      "image"
      "title"
      "description"
      "order";
    grid-template-rows: min-content min-content min-content minmax(min-content, 1fr);
    grid-template-columns: 314px;
    min-height: 659px;
    align-items: start;
    margin-top: 0;
    border-top: $catalog-border;
    box-sizing: border-box;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 50px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}


.catalog__title-link {
  text-decoration: none;
  outline: none;
  color: $text-title-color;
  grid-area: title;
  margin-top: 28px;
  padding: 0 28px;

  &:hover,
  &:focus {
    color: $text-link-hover-color;
  }

  &:active {
    color: $text-link-active-color;
  }

  @media (min-width: $tablet-width) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    margin-top: 27px;
  }
}

.catalog__product-name {
  @include font-styles(var(--font-size-product), bold, var(--line-size-product));
  margin: 0;
  padding: 0;
}

.catalog__image-link {
  grid-area: image;
  outline: none;

  img {
    display: block;
    height: 195px;
    width: 258px;
  }

  @media (min-width: $tablet-width) {
    img {
      display: block;
      height: 334px;
      width: 334px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-self: stretch;
    align-self: stretch;

    img {
      display: block;
      height: 462px;
      width: 315px;
    }
  }
}

.catalog__product-description {
  color: $text-description-color;
  grid-area: description;
  margin: 0;
  padding: 0 28px;
  margin-bottom: 18px;
  margin-top: 5px;

  @include font-styles(var(--font-size-product-desc), normal, var(--line-size-product-desc));

  @media (min-width: $tablet-width) {
    padding: 0 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 26px;
    margin-bottom: 12px;
  }
}

.catalog__order {
  grid-area: order;
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: 28px;
  margin-right: 27px;
  border-top: $catalog-border;

  @media (min-width: $tablet-width) {
    align-self: end;
    margin-left: 32px;
    margin-right: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 26px;
    margin-right: 32px;
  }
}

.catalog__product-price {
  @include font-styles(var(--font-size-product-price), bold, var(--line-size-product-price));
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

.catalog__order-button {
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 0;
  justify-self: flex-end;
  outline: none;

  &:hover,
  &:focus {
    .catalog__icon {
      fill: $button-modal-color;
      opacity: 1;
    }
  }

  &:active {
    .catalog__icon {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-bottom: 20px;
  }
}
