.contacts {
  @include font-styles($font-size-contacts, normal, $line-size-contacts);

  color: $text-description-color;
}

.contacts__wrapper {
  @include wrapper();
}

.contacts__title {
  color: $text-title-color;

  @include font-styles($font-size-contacts-title, bold, $line-size-contacts-title);
}

.contacts__email {
  a {
    color: inherit;
    text-decoration-color: $mail-undelline-color;

    &:hover,
    &:focus,
    &:active {
      color: $mail-hover-color;
      text-decoration-color: $mail-hover-color;
    }
  }
}
