.copyright {
  color: $text-title-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }
}

.copyright__link {
  margin-left: 27px;
}

.copyright__text {
  vertical-align: bottom;
}
