.main-header {
  background-color: $base-second-color;
  border-top: 1px solid transparent;
  padding-top: 73px;
  padding-bottom: 73px;

  @media (min-width: $tablet-width) {
    background-color: $base-second-color;
    padding-top: 100px;
    padding-bottom: 86px;
    border-top: none;
    background-image: url("../img/icons/zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) {
    padding-top: 102px;
    padding-bottom: 113px;
    background-size: 1150px 34px;
  }
}

.main-header__wrapper {
  @include wrapper();
}

.main-header__title {
  @include font-styles(var(--font-size-header-title), bold, var(--line-size-header-title));
  text-align: center;
  margin: 0;
  padding: 0;
}
