.making {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  padding-bottom: 32px;
  border: $catalog-border;
  box-sizing: border-box;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    padding-bottom: 45px;
    margin-bottom: 64px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: min-content min-content minmax(min-content, 1fr);
    grid-template-columns: 682px 78px 1fr;
    padding-bottom: 0;
    border-top: $catalog-border;
    margin-top: 57px;
    margin-bottom: 104px;
  }
}

.making__title {
  color: $text-title-color;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  span {
    width: min-content;
    margin-left: 24px;
  }

  svg {
    margin-left: 33px;
  }

  @include font-styles(var(--font-size-making-title), bold, var(--line-size-making-title));

  @media (min-width: $tablet-width) {
    gap: 33px;
    justify-content: flex-start;
    margin-left: 9px;
    margin-bottom: 24px;

    span {
      width: max-content;
      padding-top: 4px;
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-row-start: 1;
    margin-left: 0;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 47px;
    gap: 27px;
    align-items: flex-start;
    margin-bottom: 26px;

    span {
      padding-top: 0;
      width: min-content;
    }

    svg {
      margin-left: 0;
    }
  }
}

.making__video {
  margin-bottom: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 27px;

    img {
      width: 100%;
      height: 455px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 0;

    img {
      display: block;
      width: 683px;
      height: 455px;
    }
  }
}

.making__video-button {
  position: absolute;
  top: 22%;
  left: 28%;
  outline: none;
  border: none;
  background: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);

    path {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    top: 40%;
    left: 41%;
  }

  @media (min-width: $desktop-width) {
    top: 41%;
    left: 42%;
  }
}

.making__text {
  color: $text-description-color;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  margin-left: 33px;

  @include font-styles(var(--font-size-making), normal, var(--line-size-making));

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: 0;
    margin-bottom: 51px;
  }
}

.making__order {
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 220px;
    padding-right: 220px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-row-start: 3;
    padding-left: 44px;
    padding-right: 44px;
    align-self: start;
    justify-self: start;
  }
}
