.modal-order {
  display: none;
  color: $text-description-color;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}

.modal-order--active {
  display: block;
}

.modal-order__wrapper {
  @include wrapper();
  padding-top: 28px;
  position: fixed;
  background-color: $base-color;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  top: calc(50% - 168px);
  left: calc(50% - 160px);
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 566px;
    padding-left: 93px;
    padding-right: 92px;
    padding-top: 38px;
    padding-bottom: 36px;
    box-sizing: border-box;
    left: calc(50% - 283px);
  }
}

.modal-order__title {
  @include font-styles(var(--font-size-section-title), bold, var(--line-size-section-title));
  text-align: center;
  text-transform: uppercase;
  color: $text-title-color;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include font-styles(var(--font-size-modal-title), bold, var(--line-size-modal-title));

    margin-bottom: 11px;

    br {
      display: none;
    }
  }
}
