.modal-order {
  display: none;
  color: $text-description-color;
  background-color: $base-color;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
  //position: absolute;
  //top: 1046px;
  position: fixed;
  top: calc(50% - 168px);
  z-index: 5;

  @media (min-width: $tablet-width) {
    //top: 1532px;
    left: calc(50% - 283px);
    width: 566px;
  }
}

.modal-order--active {
  display: block;
}

.modal-order__wrapper {
  @include wrapper();
  padding-top: 28px;
}

@media (min-width: $tablet-width) {
  .modal-order__wrapper {
    width: 381px;
    padding-top: 37px;
    padding-left: 93px;
    padding-right: 92px;
    margin: 0 auto;
  }
}

.modal-order__title {
  @include font-styles(var(--font-size-section-title), bold, var(--line-size-section-title));
  text-align: center;
  text-transform: uppercase;
  color: $text-title-color;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include font-styles(var(--font-size-modal-title), bold, var(--line-size-modal-title));

    margin-bottom: 11px;

    br {
      display: none;
    }
  }
}

.modal-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form__legend {
  @include font-styles(var(--font-size-modal), normal, var(--line-size-modal));
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal-form__checkbox-list {
  @include list-style-none;
  @include font-styles(var(--font-size-modal-size), bold, var(--line-size-modal-size));
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.modal-form__checkbox-item {
  label {
    padding: 17px 33px;
    border: $modal-label-border;
    box-sizing: border-box;
    display: block;

    &:focus-within,
    &:hover {
      border: $modal-label-border-hover;
    }
  }

  &:not(:last-child) {
    margin-right: 7px;
  }

  @media (min-width: $tablet-width) {
    label {
      padding: 16px 48px;
    }

    &:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.modal-form__checkbox-input {
  display: none;
}

.modal-form__checkbox-input:checked + label {
  border: $modal-label-border-check;
}

.modal-form__button {
  display: block;
  width: 100%;
  margin-bottom: 46px;
  padding-top: 19px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
