.page-header {
  background-color: $base-color;
  box-shadow: $header-box-shadow, $header-box-shadow-up;

  @media (min-width: $tablet-width) {
    margin-bottom: -61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -59px;
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    @include wrapper ();
  }
}

.page-header__text {
  display: none;
}
