.reviews {
  @include font-styles(var(--font-size-reviews), normal, var(--line-size-reviews));
  color: $text-description-color;
  padding-bottom: 49px;
  background: url("../img/icons/zigzag-line.svg") repeat-x bottom;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 5px;
    background-size: 772px 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 58px;
    background-size: 1050px 23px;
  }
}

.reviews__wrapper {
  @include wrapper();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "title button"
      "review review";
    grid-template-columns: 1fr 175px;
    position: relative;
    padding-top: 81px;
    padding-bottom: 130px;
    background: url("../img/backgrounds/review-background.jpg") no-repeat 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "gap title button"
      "gap review review";
    grid-template-columns: 175px 1fr 175px;
    position: relative;
    background-position: var(--wrapper-padding) 0;
    padding-top: 78px;
  }
}

.reviews__title {
  @include font-styles(var(--font-size-section-title), bold, var(--line-size-section-title));
  color: $text-title-color;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-area: title;
    margin-bottom: 38px;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    padding-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .reviews__list {
    grid-area: review;
  }
}

.reviews__body {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .reviews__body {
    margin: 0;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.reviews__author {
  font-style: normal;
  color: $text-description-color;
  margin: 0;
  padding: 0;

  @include font-styles(var(--font-size-author), normal, var(--line-size-author));
}

.reviews__author-name {
  font-weight: bold;
  color: $text-title-color;
}

.reviews__author-email {
  display: block;
  //margin-top: 4px;

  @include font-styles(17px, normal, 30px);
}

.reviews__button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .reviews__button-wrapper {
    position: absolute;
    bottom: 129px;
    right: 69px;
    grid-template-columns: 50px 50px;
    gap: 37px;
    margin: 0;
  }
}

.reviews__next,
.reviews__prev {
  outline-style: none;
  border: 1px solid $table-border;
  padding: 11px 0;
  margin: 0;
  background-color: $base-color;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews__next,
  .reviews__prev {
    border: none;
  }
}

.reviews__add-button {
  display: block;
}

@media (min-width: $tablet-width) {
  .reviews__add-button {
    grid-area: button;
    align-self: start;
  }
}
