.weekly-product {
  margin-bottom: 0;
  padding-bottom: 40px;
  background: url("../img/icons/zigzag-line.svg") repeat-x bottom;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    padding-bottom: 66px;
    margin-bottom: 0;
    background-size: 772px 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    padding-bottom: 95px;
    background-size: 1050px 23px;
  }
}

.weekly-product__wrapper {
  @include wrapper();
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "title title type"
      "desc image image"
      "table image image"
      "price image image"
      "button image image";
    grid-template-columns: 292px 1fr min-content;
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "type title image"
      "type desc image"
      "type table image"
      "type price image"
      "type button image";
    grid-template-columns: 175px 290px 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content;
    justify-content: start;
  }
}

.weekly-product__category {
  @include font-styles(var(--font-size-week-category), bold, var(--line-size-week-category));
  color: $weekly-category-color;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-area: type;
    justify-self: end;
    align-self: start;
    margin: 0;
    padding-right: 27px;
    padding-top: 5px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
    align-self: end;
    grid-row-end: 2;
    text-align: center;
    padding: 0;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 15px;
  }
}

.weekly-product__name {
  @include font-styles(var(--font-size-section-title), bold, var(--line-size-section-title));
  text-align: left;
  order: -1;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    grid-area: title;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-end: 4;
    z-index: 1;
    align-self: end;
    padding-top: 60px;
  }
}

.weekly-product__description {
  @include font-styles(var(--font-size-week-desc), normal, var(--line-size-week-desc));
  color: $text-description-color;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .weekly-product__description {
    grid-area: desc;
    margin-top: 36px;
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-product__description {
    grid-area: desc;
    margin-top: 36px;
    margin-bottom: 51px;
  }
}

.weekly-product__table {
  @include font-styles(var(--font-size-week-table), normal, var(--line-size-week-table));
  color: $text-description-color;
  margin-bottom: 27px;
  border-collapse: collapse;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .weekly-product__table {
    grid-area: table;
    margin-bottom: 57px;
  }
}

.weekly-product__data {
  border-bottom: 1px solid $table-border;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-right: 27px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 12px;
  }
}

.weekly-product__image {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;

  img {
    display: block;
  }

  @media (min-width: $tablet-width) {
    grid-area: image;
    justify-self: end;
    align-self: end;
    margin: 0;

    img {
      display: block;
      height: 404px;
      width: 334px;
    }
  }

  @media (min-width: $desktop-width) {
    img {
      height: 636px;
      width: 525px;
    }
  }
}

.weekly-product__price {
  @include font-styles(var(--font-size-week-price), bold, var(--line-size-week-price));
  color: $text-description-color;
  align-self: center;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .weekly-product__price {
    grid-area: price;
    margin-bottom: 32px;
    justify-self: center;
    align-self: end;
  }
}

@media (min-width: $tablet-width) {
  .weekly-product__order {
    grid-area: button;
  }
}

.weekly-product__order {
  @media (min-width: $tablet-width) {
    grid-area: button;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
  }
}
