$base-color: rgba(255, 255, 255, 1);
$base-second-color: rgba(241, 241, 241, 1);
$base-transparent-color: rgba($base-color, 0.3);
$text-nav-color: rgba(0, 0, 0, 1);
$text-title-color: rgba(0, 0, 0, 1);
$text-nav-hover-color: rgba(0, 0, 0, 0.6);
$text-nav-active-color: rgba(0, 0, 0, 0.3);
$text-link-hover-color: rgba(0, 0, 0, 0.6);
$text-link-active-color: rgba(0, 0, 0, 0.3);
$background-type-color: rgba(251, 251, 251, 1);
$types-menu-decor-color: rgba(99, 209, 187, 1);
$types-decor-hover-color: rgba(89, 213, 188, 1);
$types-menu-toys-color: rgba(86, 195, 178, 1);
$types-toys-hover-color: rgba(70, 193, 174, 1);
$types-menu-text-color: rgba(255, 255, 255, 1);
$weekly-category-color: rgba(99, 209, 187, 1);
$text-description-color: rgba(68, 68, 68, 1);
$button-text-color: rgba(68, 68, 68, 1);
$button-border: 2px solid $button-text-color;
$button-modal-color: rgba(99, 209, 187, 1);
$button-modal-hover-color: rgba(89, 213, 188, 1);
$button-modal-active-color: rgba(89, 213, 188, 1);
$text-legend-color: rgba(99, 209, 187, 1);
$text-input-color: rgba(0, 0, 0, 0.3);
$text-input-active-color: rgba(68, 68, 68, 1);
$text-textarea-color: rgba(0, 0, 0, 1);
$mail-undelline-color: rgba(98, 209, 186, 1);
$mail-hover-color: rgba(70, 193, 174, 1);
$header-box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
$header-box-shadow-up: 0 -1px 0 #ececec, inset 0 -1px 0 #ececec;
$header-border: 1px solid rgba(0, 0, 0, 0.1);
$table-border: rgba(236, 236, 236, 1);
$footer-border: rgba(229, 229, 229, 1);
$modal-label-border: 2px solid rgba(68, 68, 68, 0.1);
$catalog-border: 1px solid rgba(236, 236, 236, 1);

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

:root {
  --wrapper-width: 260px;
  --wrapper-padding: 30px;
  --font-size-nav: 17px;
  --line-size-nav: 24px;
  --font-size-nav-desc: 15px;
  --line-size-nav-desc: 24px;
  --font-size-types-desc: 27px;
  --line-size-types-desc: 30px;
  --font-size-types: 19px;
  --line-size-types: 24px;
  --font-size-week-category: 17px;
  --line-size-week-category: 20px;
  --font-size-section-title: 25px;
  --line-size-section-title: 30px;
  --font-size-week-desc: 15px;
  --line-size-week-desc: 24px;
  --font-size-week-table: 15px;
  --line-size-week-table: 20px;
  --font-size-week-price: 17px;
  --line-size-week-price: 24px;
  --font-size-features: 17px;
  --line-size-features: 20px;
  --font-size-reviews: 15px;
  --line-size-reviews: 30px;
  --font-size-author: 17px;
  --line-size-author: 24px;
  --font-size-contacts: 14px;
  --line-size-contacts: 30px;
  --font-size-contacts-title: 18px;
  --line-size-contacts-title: 30px;
  --font-size-footer: 19px;
  --line-size-footer: 18px;
  --font-size-modal: 15px;
  --line-size-modal: 30px;
  --font-size-modal-size: 17px;
  --line-size-modal-size: 16px;
  --font-size-header-title: 27px;
  --line-size-header-title: 30px;
  --font-size-form-desc: 13px;
  --line-size-form-desc: 24px;
  --font-size-form: 17px;
  --line-size-form: 18px;
  --font-size-legend: 17px;
  --line-size-legend: 16px;
  --font-size-clarification: 14px;
  --line-size-clarification: 16px;
  --font-size-product: 17px;
  --line-size-product: 24px;
  --font-size-product-desc: 13px;
  --line-size-product-desc: 30px;
  --font-size-product-price: 15px;
  --line-size-product-price: 24px;
  --font-size-making: 13px;
  --line-size-making: 24px;
  --font-size-making-title: 17px;
  --line-size-making-title: 24px;
}

@media (min-width: $tablet-width) {
  :root {
    --wrapper-width: 668px;
    --wrapper-padding: 50px;
    --font-size-nav: 15px;
    --line-size-nav: 24px;
    --font-size-types-desc: 43px;
    --line-size-types-desc: 50px;
    --font-size-types: 20px;
    --line-size-types: 30px;
    --font-size-week-category: 17px;
    --line-size-week-category: 17px;
    --font-size-section-title: 43px;
    --line-size-section-title: 50px;
    --font-size-week-desc: 17px;
    --line-size-week-desc: 30px;
    --font-size-week-price: 20px;
    --line-size-week-price: 24px;
    --font-size-features: 20px;
    --line-size-features: 22px;
    --font-size-reviews: 17px;
    --line-size-reviews: 30px;
    --font-size-author: 18px;
    --line-size-author: 24px;
    --font-size-contacts: 17px;
    --line-size-contacts: 30px;
    --font-size-contacts-title: 43px;
    --line-size-contacts-title: 50px;
    --font-size-modal: 17px;
    --line-size-modal: 30px;
    --font-size-header-title: 43px;
    --line-size-header-title: 50px;
    --font-size-form-desc: 17px;
    --line-size-form-desc: 30px;
    --font-size-form: 19px;
    --line-size-form: 18px;
    --font-size-clarification: 17px;
    --line-size-clarification: 30px;
    --font-size-product: 20px;
    --line-size-product: 24px;
    --font-size-product-desc: 15px;
    --line-size-product-desc: 30px;
    --font-size-product-price: 17px;
    --line-size-product-price: 24px;
    --font-size-making: 15px;
    --line-size-making: 30px;
    --font-size-making-title: 20px;
    --line-size-making-title: 24px;
  }
}

@media (min-width: $desktop-width) {
  :root {
    --wrapper-width: 1050px;
    --wrapper-padding: 50px;
    --font-size-nav: 15px;
    --line-size-nav: 24px;
    --font-size-types-desc: 53px;
    --line-size-types-desc: 57px;
    --font-size-types: 20px;
    --line-size-types: 30px;
    --font-size-week-category: 17px;
    --line-size-week-category: 17px;
    --font-size-section-title: 53px;
    --line-size-section-title: 57px;
    --font-size-week-desc: 17px;
    --line-size-week-desc: 30px;
    --font-size-week-price: 20px;
    --line-size-week-price: 24px;
    --font-size-features: 20px;
    --line-size-features: 22px;
    --font-size-reviews: 17px;
    --line-size-reviews: 30px;
    --font-size-author: 17px;
    --line-size-author: 24px;
    --font-size-contacts: 17px;
    --line-size-contacts: 30px;
    --font-size-contacts-title: 53px;
    --line-size-contacts-title: 57px;
    --font-size-modal: 17px;
    --line-size-modal: 30px;
    --font-size-header-title: 53px;
    --line-size-header-title: 57px;
    --font-size-form-desc: 17px;
    --line-size-form-desc: 30px;
    --font-size-form: 19px;
    --line-size-form: 18px;
    --font-size-clarification: 17px;
    --line-size-clarification: 30px;
    --font-size-product: 20px;
    --line-size-product: 24px;
    --font-size-product-desc: 15px;
    --line-size-product-desc: 30px;
    --font-size-product-price: 17px;
    --line-size-product-price: 24px;
    --font-size-making: 15px;
    --line-size-making: 30px;
    --font-size-making-title: 20px;
    --line-size-making-title: 24px;
  }
}
